@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Concert+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+IN:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Concert+One&family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+IN:wght@100&display=swap');
body{
    font-family: 'Big Shoulders Stencil', cursive;
    background-color: #363636;
    color: white;
}
h1{
    margin-top: 10px;
}
button{
    font-family: 'playwrite IN', cursive;
    background-color: #363636;
    color: white;
    padding: 20px;
    cursor: pointer;
    border: 2px solid #00d0ff;
    font-size: 16px;
    display: flex;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    margin-left: 10px;
    margin: 5px;
}
button:focus{
    border: 2px solid #00d0ff;
}
button:hover{
    background-color: #555555;
    border-radius: 10%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1d1d1d;
    border-radius: 1%;
}
.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #1d1d1d; */
    border-radius: 1%;
}
input{
    background-color: #363636;
    color: #00d0ff;
    border: 2px solid #00d0ff;
    padding: 10px;
    font-size: 16px;
    border-radius: 10%;
    margin-bottom: 10px;
}
input:focus{
    outline: none;
    border-color: #00d0ff;
    background-color: #555555;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 250px; */
}
#nomeCompleto{
    color: #00d0ff;
}
.seta{
    width: 45px;
    height: 50px;
    border-radius: 50%;
}
.seta:hover{
    margin-left: 5px;
    width: 55px;
    transition: all 0.3s ease;
}